.App {
  /* display: grid;
  grid-template-areas: 
    "logo navbar"
    "sidebar content"; */
    font-weight: 400px;

  font-size: 24px;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
  /* grid-template-rows: 2fr 4fr;
  grid-auto-columns: 2fr 6fr; */
}

.header {
  display: flex;
  
}

.main {
  display: flex;

}


